h1 {
    font-family: Verdana;
    font-size: 35px;
}

html {
    background-color: white;
}
p
{
    font-family: Helvetica;
    font-size: 25px;
}
li
{
    font-size: 25px;
}
.container {
    margin:0 auto;
    width:960px;
    background-color: lightgray;
}